<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.winter.mapper.AdviceMapper" >
  <resultMap id="BaseResultMap" type="com.winter.model.Advice" >
    <id column="a_id" property="aId" jdbcType="VARCHAR" />
    <result column="a_userid" property="aUserid" jdbcType="VARCHAR" />
    <result column="a_message" property="aMessage" jdbcType="VARCHAR" />
    <result column="a_isRead" property="aIsread" jdbcType="INTEGER" />
    <result column="a_creattime" property="aCreattime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    a_id, a_userid, a_message, a_isRead, a_creattime
  </sql>

</mapper>