<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.winter.mapper.CollectionsMapper" >
  <resultMap id="BaseResultMap" type="com.winter.model.Collections" >
    <id column="collection_id" property="collectionId" jdbcType="VARCHAR" />
    <result column="collection_newsid" property="collectionNewsid" jdbcType="VARCHAR" />
    <result column="collection_userid" property="collectionUserid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    collection_id, collection_newsid, collection_userid
  </sql>

</mapper>